.header {
  margin-top: 5%;
}
.header p {
  font-size: small;
  margin: 0;
}
.header hr {
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: #000000;
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 970px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  border-width: 0 5px 5px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.input {
  border-top: none;
  border-bottom: solid;
  border-left: none;
  border-right: none;
  line-height: 1.8em;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.title {
  border: 2px solid #160c13;
  background-color: #5e786b;
}
.title p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
}

.problem h1 {
  font-size: medium;
  font-weight: bold;
}
.problem p {
  white-space: pre-wrap;
}
.problem label {
  font-weight: normal;
}
.problem textarea {
  margin-top: 2%;
}

.scoreLine {
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: #000000;
  overflow: hidden;
  width: 10%;
}
